body{
    background-color: rgb(172, 241, 172);
}

#main-container{
    margin: auto;
    width: 750px;
    height: 750px;
    padding: 50px 10px;
    background-color: rgb(172, 241, 172);
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 100%;
    grid-template-rows: 630px 10% 10%;
}

#game-container{
    position: relative;
/* flex temp testing */
    /* display: flex;
    flex-direction: column; */

/* end flex temp testing */
    display: grid;
    grid-gap: 8px;
    grid-template-columns: 3fr 5fr 1fr 1fr;
    grid-template-rows: 100%;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: stretch;

}

#submition-container{
display: grid;
grid-template-columns: 80%;
grid-template-rows: 80%;
justify-content: center;
align-items: center;    
}

.submittion-button{
    height: 100%;
}

#suggistion-container{
    display: grid;
    grid-template-columns: 40%;
    grid-template-rows: 80%;
    justify-content: center;
    align-items: center;      
}